@font-face {
    font-family: soccer;
    src: url(../font/FridayNightLights-l5pe.ttf)
}

body {
    background-image: url("../images/1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
    color: rgb(198, 211, 14);
}

header {
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.container {
    margin: 60px 0 60px 60px;
}

h1 {
    font-size: 4em;
    letter-spacing: 4px;
    text-align: center;
    font-family: soccer;
    padding: 35px;
    display: block;
}

#player-button {
    margin: 20px;
}

.player-btn {
    width: 185px;
    height: 50px;
    margin: 10px;
    color: #000;
    border-radius: 6px;
    background: rgb(223, 117, 20);
    font-size: 1.1em;
}

.player-btn:hover {
    cursor: pointer;
    background: rgb(145, 75, 11);
}

#player-form {
    margin: 30px;
}

#player-input {
    width: 180px;
    height: 30px;
    border-radius: 6px;
    font-size: 0.9em;
}

#new-player {
    width: 120px;
    height: 30px;
    border-radius: 6px;
    margin-left: 10px;
    background: rgb(198, 211, 14);
    color: #000;
    font-size: 0.9em;
}

#new-player:hover {
    background: rgb(142, 151, 10);
    cursor: pointer;
}

.players-result {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.player-result {
    margin: 20px;
}

img:hover {
    cursor: pointer;
    box-shadow: 3px 3px 4px #fff;
}

p {
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px #fff;
}

@media screen and (min-width: 639px) and (max-width: 980px) {
    h1 {
        font-size: 3em;
    }
    .container {
        margin: 20px;
    }
    #player-button {
        margin: 15px;
    }
    .player-btn {
        width: 135px;
        height: 35px;
        margin: 7px;
        color: #000;
        border-radius: 6px;
        background: rgb(223, 117, 20);
        font-size: .8em;
    }
    .player-btn:hover {
        cursor: pointer;
        background: rgb(145, 75, 11);
    }
    img {
        width: 190px;
    }
    #player-input {
        width: 135px;
        height: 28px;
        font-size: .8em;
    }
    #new-player {
        width: 110px;
        height: 30px;
        margin-left: 10px;
        color: #000;
        font-size: .8em;
    }
}

@media screen and (min-width: 300px) and (max-width: 640px) {
    h1 {
        font-size: 1.3em;
        padding: 20px;
    }
    header {
        height: 40px;
    }
    .container {
        margin: 10px;
    }
    #player-button {
        margin: 10px;
    }
    .player-btn {
        width: 95px;
        height: 25px;
        margin: 5px;
        border-radius: 6px;
        font-size: .6em;
    }
    #player-input {
        width: 95px;
        height: 25px;
        font-size: .6em;
    }
    #new-player {
        width: 80px;
        height: 25px;
        font-size: .6em;
    }
    #player-form {
        margin: 7px;
    }
    img {
        width: 110px;
    }
    p {
        padding: 5px;
        font-size: .9em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-shadow: none;
    }
}