body {
    background-image: url("../images/back.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(211, 143, 49);
}

header {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    text-align: center;
}

button {
    margin: 5px;
    background: #000;
    color: ivory;
}